<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Pipeline Tests">
    <parameter name="usingSaucelabs" value="true"/>
    <parameter name="environment" value="dev"/>
    <parameter name="accountSecretName" value = "qa/1848/ui/fullaccess"/>
    <parameter name="browserName" value="chrome"/>
    <parameter name="browserVersion" value="latest"/>
    <parameter name="platformName" value="Windows 10"/>
    <parameter name="eventToStart" value="OH-20220503_v02"/>
    <parameter name="yearOFEvent" value="2022"/>
    <suite-files>
        <class name=""/>

     </suite-files>
</suite>
